.theme-selector {
  position: absolute;
  top: 70px; /* Adjust this value to move it further down */
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Styling for the weather information box */
.weather-info {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(255, 255, 255, 0.9);
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1100;
  width: 250px;
  font-family: Arial, sans-serif;
}

/* Styling for the route input box - centered at the top */
.route-input {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 400px;
  height: auto;
  font-family: Arial, sans-serif;
  text-align: center;
}

.route-input input {
  width: 90%;
  padding: 8px;
  margin: 5px 0;
  border: 3px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.route-input button {
  background-color: #ffafcc;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 8px;
  font-size: 14px;
}

.route-input button:hover {
  background-color: #ff90b3;
}

/* Styling for the map container */
.map-container {
  width: 100vw;
  height: 100vh;
}

/* Pastel Theme for Map */
.pastel-map {
  filter: brightness(0.9) saturate(1.2) hue-rotate(190deg);
  background-color: #e0f7fa;
}

.time-filter {
  position: absolute;
    /* Increase value if necessary */
  right: 20px; /* Adjust positioning */
  background: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1500;  /* Increase z-index to ensure visibility */
  font-family: Arial, sans-serif;
}


.time-filter select {
  width: 100%;
  padding: 6px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

